.timer-wrapper {
    display: grid;
    place-items: center;
    height: 60vh;
    
}

.timer-main_container {    
    width: fit-content;
    padding: 25px;
    border-radius: 25px;
    background-color: #f96c00;
    box-shadow: -6px 6px 10px black;
    border: 2px solid #9c7a7a;
}

.timer-container {
    display: grid;
    place-items: center;
    gap: 30px;
}

.timer-text {    
    color: #f96c00;
    background-color: #1D2023;
    border-radius: 15px;
    user-select: none;
    font-size: 5rem;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 15px;
}

.timer-buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.timer-button {
    border: 2px solid rgb(119, 67, 0);    
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    color: #1D2023;
    box-shadow: -2px 2px rgba(0, 0, 0, 20%);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


.timer-button:hover {
    transition: 100ms;
    background-color: rgb(156, 156, 156);
    
}
