.navbar-main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 70px;
}

.navbar-title {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: clamp(1.5rem, 2vw, 10vw);
  font-style: italic;
  text-decoration: none;
  user-select: none;
}

.sidebar-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chrono-element {
  display: grid;
  place-items: center;
  border: 3px solid transparent;
}

.chrono-element:hover {
  transition: all 100ms ease-in-out;
  border-bottom-color: var(--main-text-color);
}

.chrono-link {
  display: grid;
  place-items: center;
  text-decoration: none;
}

.icon {
  width: 25px;
  height: 25px;
  color: var(--main-text-color);
}

span {
  font-family: var(--main-font);
  text-align: center;
  text-decoration: none;
  color: var(--main-text-color);
  font-size: clamp(0.7rem, 1vw, 2vw);
}
