.navbar-main_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141618;
    height: 80px;
}

.navbar-title {
    font-family: 'Roboto';
    color: #f96c00;
    font-size: 40px;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.sidebar-elements {
    display: flex;
    gap: 50px;
}

.chrono-element {
    display: grid;
    place-items: center;
}

.chrono-element:hover{
    transition: ease-in-out all 200ms;
    filter: invert();
}

.chrono-link {
    display: grid;
    place-items: center;
    text-decoration: none;
        
}

.chrono-icon {
    display: grid;
    place-items: center;
    padding-top: 5px;
    width: 40px;
    height: 40px;
}

.icon {
    width: 30px;
    height: 30px;
    color: #f96c00;
}

span {
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #f96c00;
}