.edit-wrapper {
    position: absolute;
    display: grid;
    place-items: center;
    backdrop-filter: blur(1px);
    background-color: rgba(55, 55, 55, 0.3);
    width: 100%;
    min-height: 100vh;
}

.main-edit_container {
    display: grid;
    place-items: center;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    border: 3px solid #1D2023 ;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #1D2023;
}

.input-container {
    
    width: 90%;
    margin-top: 25px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.edit-text{
    
    width: fit-content;
    height: fit-content;
}
.edit-input {
    
    width: 40px;
    height: 30px;
    border-radius: 15px;
    border: 1px black solid;
    text-align: center;
    
}


.buttons-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 50px;

}

.edit-button {
    border-radius: 15px;
    height: 50px;
    width: 100px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    color: #1D2023;
    box-shadow: -2px 2px rgba(0, 0, 0, 20%);
    margin: 25px;
}

.checkbox-container {
    display: grid;
    place-items: center;
    padding-left: 25px;
}

.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    height: 90%;
    
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}