.edit-wrapper {
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(1px);
    background-color: rgba(55, 55, 55, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    
}

.main-edit_container {
    display: grid;
    place-items: center;    
    background: var(--main-timer-background);
    border: 3px solid #000000 ;
    border-radius: 10px;
    padding: 25px;
    gap: 25px;
    box-shadow: 5px 5px 5px #474747;
}

.input-container {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}
.edit-text{
    font-family: var(--main-font);

}
.edit-input {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
    
}


.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.checkbox-container {
    display: grid;
    justify-content: center;
    align-items: center;

    gap: 20px;
}



.checkbox {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}