* {
  padding: 0;
  margin: 0;
}

html {
  background-image: url('/blue-mountains-background.webp');
  background-position: center;
  background-size: cover;
}

:root {
  --main-font: 'Carter One', Verdana, sans-serif;
  --main-text-color: #f8f6f4;
  --main-timer-color: #afb4ff;
  --main-timer-background: linear-gradient(#f8f6f4, #164676);
}

html,
body,
#root {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/CarterOne-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
