* {
  padding: 0;
  margin: 0;
}

html {
  background-image: url('/blue-mountains-background.webp');
  background-position: center;
  background-size: cover;
}

:root {
  --main-font: 'Carter One', Verdana, sans-serif;
  --main-text-color: #f8f6f4;
  --main-timer-color: #afb4ff;
  --main-timer-background: linear-gradient(#f8f6f4, #164676);
}

html,
body,
#root {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
