.chrono-main_container {
    display: grid;
    place-items: center;
    padding: 15px;
    background: var(--main-timer-background);
    box-shadow: -6px 6px 10px black;
    border: 2px solid #000;
    border-radius: 25px;
}

.chrono-container {
    display: grid;
    place-items: center;
    gap: 15px;
}

.chrono-text_container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 0fr 1fr 0fr 1fr 0fr 1fr;
    background-color: #1D2023;
    border-radius: 15px;
    padding: 0px 15px;
}

.chrono-text{
    color: var( --main-text-color);
    user-select: none;
    font-size: 5rem;
    font-family: 'Carter One', sans-serif;    
}

.chrono-buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}



