.chrono-main_container {
  display: grid;
  place-items: center;
  padding: 1rem;
  background: var(--main-timer-background);
  box-shadow: -6px 6px 15px black;

  border-radius: 1rem;
}

.chrono-container {
  display: grid;
  gap: 1rem;
}

.chrono-text_container {
  position: relative;
  display: flex;
  background-color: #1d2023;
  border-radius: 1rem;
  padding: 0 1rem;
  gap: 0.5rem;
}

.chrono-number {
  display: grid;
  place-items: center;
  color: var(--main-text-color);
  user-select: none;
  font-size: 5rem;
  font-family: 'Carter One', sans-serif;
  font-variant: tabular-nums;
  width: 128px;
}

.milli {
  font-size: 3.5rem;
  width: 90px;
}

.chrono-text {
  color: var(--main-text-color);
  user-select: none;
  font-size: 5rem;
  font-family: 'Carter One', sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
}

.chrono-buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

@media screen and (max-width: 800px) {
  .chrono-number {
    font-size: 3.5rem;
    width: 90px;
  }
  .chrono-text {
    font-size: 3.5rem;
  }

  .milli {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .chrono-number {
    font-size: 2.5rem;
    width: 64px;
  }
  .chrono-text {
    font-size: 2.5rem;
  }
  .milli {
    font-size: 2rem;
    width: 55px;
  }
}

@media screen and (max-width: 400px) {
  .chrono-text_container {
    padding: 0 0 0 10px;
  }

  .chrono-number {
    font-size: 2.2rem;
  }
  .chrono-text {
    font-size: 2.2rem;
  }
  .milli {
    font-size: 1.8rem;
    width: 50px;
  }
}

@media screen and (max-width: 300px) {
  .chrono-number {
    font-size: 2rem;
    width: 51px;
  }

  .chrono-text {
    font-size: 2rem;
  }

  .milli {
    font-size: 1.5rem;
    width: 38.5px;
  }

  .chrono-main_container {
    padding: 10px 5px;
  }

  .chrono-container {
    gap: 10px;
  }

  .chrono-text_container {
    padding: 0px 5px;
  }
}
